<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xl-9 mx-auto">
				<div class="card card-signin flex-row my-5">

					<div class="card-body">
						<h5 class="card-title text-center">Log In</h5>
						<div>
							{% with messages = get_flashed_messages(with_categories=true) %}
								{% if messages %}
									{% for category, message in messages %}
										<div class="alert alert-{{ category }}">
											{{ message }}
										</div>
									{% endfor %}
								{% endif %}
							{% endwith %}
						</div>
						<form class="form-signin" method="POST" action="">
							{{ form.hidden_tag() }}
							<div>
								<div class="form-label-group">
									{% if form.email.errors %}
										{{ form.email(id="inputEmail", class="form-control is-invalid", placeholder="Email") }}
										<div class="invalid-feedback">
											{% for error in form.email.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
									{{ form.email(id="inputEmail", class="form-control", placeholder="Email") }}
									<label for="inputEmail">Email</label>
									{% endif %}
								</div>
								
								<div class="form-label-group">
									{% if form.password.errors %}
										{{ form.password(id="inputPassword", class="form-control is-invalid", placeholder="Password") }}
										<div class="invalid-feedback">
											{% for error in form.password.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
									{{ form.password(id="inputPassword", class="form-control", placeholder="Password") }}
									<label for="inputPassword">Password</label>
									{% endif %}
								</div>
								<div class="form-check small" align="center">
									{{ form.remember(class="form-check-input") }}
									{{ form.remember.label(class="form-check-label") }}
								</div>
								<hr>
								{{ form.submit(class="btn btn-lg btn-primary btn-block text-uppercase") }}
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>